<a href="https://colab.research.google.com/github/Karkinisal10/Coursera/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Data Science Tools and Ecosystem</h1>

In this text we will discuss about data science tools

**Objectives:**

*   List poplar datascience tools
*   List datascience language
*   To create Table in Notebook
*   To write comment in notebook

Some of the popular data science languages are

1.   Python
2.   R
3.  Javascript
4.  Julia

Some of the most commonly used libraries in ds are:


1.   Numpy
2.   pandas
3.   Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| TensorFlow         |
| Kaggle Notebook    |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
a = 200
b = 200/60
print("200 minutes to hours is ",b)
#This will convert 200 minutes to hours by diving by 60

200 minutes to hours is  3.3333333333333335

<h2> Author</h2>
Nishal Karki